STOCK_API_KEY=AAAAAAAAAAAAAA
NEWS_API_KEY=BBBBBBBBBBBBBBBBBBBB
TWILIO_ACCOUNT_SID=CCCCCCCCCCCCCCCCCCCCCCCCCCCCC
TWILIO_AUTH_TOKEN=DDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
MY_PHONE_NUMBER=+11111111111111
TRILLO_NUMBER=+22222222222222